.reset-password-form-container {
  width: 100%;
}

.reset-password-form {
  width: 100%;
}

.reset-password-form h2 {
  margin-bottom: 1rem;
}

.reset-password-form p {
  margin-bottom: 1.5rem;
  font-size: 0.9rem;
}